@model ZortBilgisayarV1.ViewModels.ProductListViewModel
@* @{
    var popularClass = Model.Products.Count>2? "popular":"popular1";
} *@

                <div class="container">
                    <div class="row">
                            <div class="col-md-4">
                                @await Component.InvokeAsync("Categories")    
                        </div>
                        <div class="col-md-8">
     
         @if (Model.Products.Count==0)
            {
                @await Html.PartialAsync("~/Views/Shared/Components/_productalert.cshtml")
            }
            else
            {
                <div class="row">
                    @foreach (var product in Model.Products)
                    {
                        <div class="col-md-3">
                        @await Html.PartialAsync("~/Views/Shared/Components/_productcard.cshtml",product)
                        </div>
                    }
                </div>
            }
    </div> 
</div>             