
@{
    Layout="~/Views/Shared/Components/_LayoutAbout.cshtml";
}
 
<div class="container my-5">
  <h1 class="text-center">Hakkımızda</h1>
  <hr>
  <div class="row my-5">
    <div class="col-md-6">
      <h2>Kimiz?</h2>
      <p>ZortBilgisayar, yılların tecrübesi ile elektronik sektöründe hizmet veren köklü bir firmadır. Yüksek kaliteli ürünleri, güçlü müşteri destek ekibi, uygun fiyatları ve hızlı teslimat süreleriyle müşterilerimize hizmet vermekteyiz. Bilgisayar parçalarından akıllı telefonlara kadar geniş bir ürün yelpazesine sahibiz.</p>
    </div>
    <div class="col-md-6">
      <h2>Neler Yaparız?</h2>
      <p>Bizler, müşterilerimize en kaliteli ürünleri sunmakla kalmayıp, aynı zamanda müşteri memnuniyetini de en üst düzeyde tutmaya çalışıyoruz. Bu doğrultuda, müşterilerimizle doğru ve dürüst bir iletişim içerisinde olmaya özen gösteriyoruz. Böylece müşterilerimizin her türlü sorunlarına anında çözüm üretebiliyoruz.</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-12" style="margin-bottom: 74px;">
      <h2>Vizyonumuz</h2>
      <p>ZortBilgisayar olarak, her geçen gün kendimizi yenileyerek ve teknolojik gelişmelere ayak uydurarak, müşterilerimize en iyi hizmeti sunmak istiyoruz. Bu doğrultuda, sektördeki lider konumumuzu korumak, daha fazla müşteriye ulaşmak ve müşterilerimizin güvenini kazanmak en önemli hedeflerimiz arasında yer almaktadır.</p>
    </div>
  </div>
</div>


